/*Colors used:
Primary Color (Light salmon) : #FF9870 ;
Secondary Color (Columbia blue) : #c8d8da ;
Secondary Color (Cadet blue) : #69a1a4 ;
Secondary Color (Blue green) : #0098bd ;
Secondary Color (Blue sapphire) : #00648a ;
*/
* {
  box-sizing: border-box;
}

main {
  padding-top: 2px;
}

body {
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

header {
  background-color: #ffffff;
  margin: 10px;
  position: relative;
  padding: 10px 0 4px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #009870;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #FF9870;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #00648A;
}

a:active {
  /* selected link */
  color: #69a1a4;
}

a:hover,
a:focus {
  color: #FF9870;
  text-decoration: underline;
}

.button {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  background-color: #0081A1;
  color: #C8D8DA;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0098BD;
  /* width of the border, type, color */
  transition: 0.4s opacity;
}

.button:hover {
  opacity: 0.6;
  /* Reduces the opacity of the button to 60% */
  text-decoration: none;
  color: #ffffff
}

.button.contact:active {
  background-color: #FF9870;
  color: #ffffff;
  text-decoration: underline;
}

a.button {
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #0098bd;
  text-transform: uppercase;
  border: 2px solid #0098bd;
}

.button.contact:hover {
  background-color: #00648a;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}


.portrait {
  width: 600px;
  height: auto;
  text-align: center;
}

.square {
  width: 200px;
  height: auto;
  text-align: center;
}





/* Layout styling */
.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0098BD;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero p {
  text-align: center;
  /* Centers text */
}

#project h1 {
  text-align: center;
  /* Centers text */
}

#profile h1 {
  text-align: center;
  /* Centers text */
}

#resume {
  animation-fill-mode: forwards;
}

.logo {
  max-width: 50px;
}

.icon {}

element.style {
  width: 50px;
  height: auto;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #00648A;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #FF9870;
}

nav>ul>li>a:active,
nav>ul>li>a:visited {
  text-decoration: underline;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  color: #ffffff;
}

#hero {
  background-color: #0081A1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#social {
  padding-top: 20px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    max-width: 100px;
  }

  nav>ul>li {
    display: inline-block;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    padding: 8px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

@keyframes color-change {
  0% {
    fill: #f15754;
  }

  25% {
    fill: #ffbf00;
  }

  50% {
    fill: #ffa500;
  }

  100% {
    fill: #228b22;
  }
}

/* The element to apply the animation to */
.cls-4 {
  fill: #f15754;
  animation-name: color-change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 0);
  }
}

.cls-3 {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
