/*Colors used:
Primary Color (Bright red) : #F16B48 ;
Secondary Color (Very soft orange) : #FCBA99 ;
Secondary Color (Soft red) : #F38D79 ;
Secondary Color (Very soft red) : #F8BCB2 ;
Secondary Color (Light grayish red) : #F1D2CD ;
Secondary Color (Light grayish red) : #F1D2CD ;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

header {
  background-color: #F16B48;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  position: relative;
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #F38D79;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #F16B48;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #F8BCB2;
}

a:active {
  /* selected link */
  color: #F1D2CD;
}

a:hover,
a:focus {
  color: #F16B48;
  text-decoration: underline;
}

.button {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  background-color: #F16B48;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F1D2CD;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.5;
  /* Reduces the opacity of the button to 50% */
  text-decoration: none;
  color: #ffffff
}

.button.contact:active {
  background-color: #F16B48;
  color: #ffffff;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #F16B48;
  text-transform: uppercase;
  border: 2px solid #F16B48;
}

.button.contact:hover {
  background-color: #F16B48;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #F16B48;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero p {
  text-align: center;
  /* Centers text */
}

#project h1 {
  text-align: center;
  /* Centers text */
}

#profile h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 100px;
}

nav {
  display: inline-block;
  width: 100%;
  position: relative;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #F1D2CD;
}

nav>ul>li>a:active,
nav>ul>li>a:visited {
  text-decoration: underline;
}

#hero {
  color: #ffffff;
}

#hero {
  background-color: #F16B48;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#social {
  padding-top: 20px;
}

main {
  padding-top: 133px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    padding: 8px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #about-page h3 { margin-top: 0;}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
